										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<table
									border="0"
									cellpadding="10"
									cellspacing="0"
									width="100%"
									id="email-footer"
								>
									<tr>
										<td align="left" valign="top">
											<ul>
												<li>
													<a href="https://booki.me">booki.me</a>
												</li>
												<li>
													Copyright © booki.me
													<br/>
													All rights reserved.
												</li>
											</ul>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
    </body>
</html>
