sudo: required
services:
  - docker
language: node_js
node_js:
  - "node"
notifications:
  email: false
  webhooks:
    - http://server.tyratox.ch/webhooks/travis/booki.php
env:
  - secure: "MUOy65SS5KUbRTJ/JjlodGqBA+xjsN/epDJVmBt92szPJQt6GKFlB82NxfS1z8fewhaOk2epUHGGHDtdun1oB8RGrY5TfeUlYWXWYx7YXWQyo1ofngIEfJjqWRwhlAa2yVksC92hduyazEBHRgkHEN/JVyNdCnHFytddliugh8P+/Yqq6lXRROKN1leAqKZSn61AW2gxmzTREK2b/my+W6suczuVCePG076k3SKK4HAhcr8MskJaXM5WXy0ydg7wvrBbCi8wdxSPx0CQYLOZV7PJu8OtmQ063fSGgtXMyAXMO9ujs1L0TnMfIAKcnkYUvROZVu4Ea6iiicbPcH2sf8od0a5W8DTxXK0ko2KONuyMH1yrERzaC0xEurILOsJ2VPVeNlVXKD979V6Hl1zGH/4S3OIsEXOP/I26byBIOhPJaqFpx3rCeK83TPZHlBjZmx9XsrLGzojVxPzz5nE81KaIdqG+AkH/dWfRgcBE9T18YVa9PNhm8LXaM9sBfISE9usQ8d6MqwYiNnz10BB2501H4mVjV5QnGteWkIxGQ5GVE/zFIiLPUZ4EQdfBr9VQM7D62tYvLj9sp/6pZao91f9tHYOdH8gPjaB9dn1FqvrT3wxwuzj/CLQuxYplieugGskc94d3YGL2JUIQ4FUmIHYCMLjkorX0Tn0Dy0nfVcI="
install: yarn install
before_script: yarn test
script:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "release" ]; then
    docker build -t tyratox/booki:release .;
    fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
    docker build -t tyratox/booki:staging .;
    fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "dev" ]; then
    docker build -t tyratox/booki:testing .;
    fi
after_success:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "release" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tyratox/booki:latest;
    fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tyratox/booki:staging;
    fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "dev" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push tyratox/booki:testing;
    fi
