version: "3.2"
services:
  api:
    image: tyratox/booki:latest
    build:
      context: .
      dockerfile: Dockerfile
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    network_mode: "bridge"
    dns:
      - 8.8.8.8
    ports:
      - "localhost:8100:8100"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8101"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
    - DOCKER=1
    secrets:
      - source: booki-config
        target: booki-config.json
        mode: 0440
      - source: letsencrypt-verification
        target: .well-known
        mode: 0440

    stop_grace_period: 15s

secrets:
  booki-config:
    file: ./config.json
  letsencrypt-verification:
    file: ./well-known
