<% include ../../header %>
	<p>Hi <em><%= user.nameDisplay %></em>,</p>
	<p>Dies ist der Code um dein Passwort zurückzusetzen:
		<em><%= user.passwordResetCode %></em>.
	</p>
<% include ../../footer %>
